<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.apache.kafka.*" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework.kafka" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="no.nav.common.kafka.consumer" level="warn" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="no.nav.common.kafka.consumer.util" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="no.nav.security" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
