name: Run tests
on:
  workflow_call:
  push:
    branches-ignore:
      - main

env:
  TZ: Europe/Oslo

jobs:
  test:
    permissions:
      contents: "write"
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Run maven tests
        run: mvn -B verify